/**
*Project by: Richmond Fui
*Company: rdev-studios
*Date commenced: 31-10-18
*Description: A sleek dashboard for cms and other projects
*
*/

/*===================
S/N   CONTENTS

1.    GLOBAL STYLES
2.    FORM STYLES
3.    SIDEBAR STYLES
4.    MAIN PANEL STYLES
5.    CARD STYLES
6.    ALERT STYLES
7.    TABLE STYLES
7.    INFO-BOX STYLES
8.    FOOTER STYLES
9.    TABLET QUERY STYLES
10.   MOBILE QUERY STYLES
11.   KEYFRAMES
*===================*/

body {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    background-color: #ccc;
    font-size: 13.75px;
    overflow: hidden;
    margin: 0;
}

/*===================
    GLOBAL STYLES
*===================*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 13.75px;
}

.arrow-up::after {
    position: absolute;
    top: 0;
    right: 3px;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #FFFFFF transparent;
    content: ' ';
    z-index: 1;
}

.img-responsive {
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
}

#mainPanel,
#leftSidebar {
    transition: .4s all;
}

/*===================
    FORM STYLES
*===================*/

form input[type="text"],
form input[type="email"],
form input[type="search"],
form input[type="number"],
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="search"]:focus,
form input[type="number"]:focus {
    border-radius: 3em;
    font-size: 13px;
    background-color: rgba(222, 222, 222, 0.3);
    box-shadow: 0;
    outline: none;
}

textarea.form-control,
textarea.form-control:focus {
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

form .input-group input::placeholder {
    color: #ccc;
}

form .input-group input {
    border: 0;
}

form .input-group button {
    background-color: rgba(222, 222, 222, 0.3);
    box-shadow: none;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-left: none;
    color: #ccc;
}

input[disabled] {
    cursor: not-allowed;
}

.form-group .form-control {
    transition-duration: .4s;
}

.form-group .form-control:focus {
    border-color: #fd7e14;
    box-shadow: none;
    /* background-color: rgba(222, 222, 222, 0.5); */
}

/*===================
    SIDEBAR STYLES
*===================*/

#leftSidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right, #fd7e14 0%, #f17712 60%, #f18e3c 100%);
}

#leftSidebar .sidebar-wrapper {
    height: calc(100vh - 75px);
    overflow-x: hidden;
    width: 100%;
    z-index: 1030;
}

.sidebar-wrapper .sidebar-header {
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px 20px;
    z-index: 1031;
}

.sidebar-profile {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 20px;
}

.sidebar-profile .prof {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.sidebar-profile .prof a {
    color: #f6f6f6;
    text-decoration: none;
}

.sidebar-profile .prof .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #0c2646;
    margin-right: 10px;
}

.side-menu {
    padding: 20px;
}

.side-menu li {
    position: relative;
    padding: 0;
    margin: 4px 0;
}

.side-menu li .menu-link,
.dropdown-1 .dropdown-menu-1 li a {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    transition: .3s all;
    border-radius: 3em;
}

.side-menu li .menu-link span {
    padding-left: 10px;
}

.side-menu li .menu-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

.side-menu li .menu-link.active {
    border-radius: 3em;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(255, 100, 0);
}

/*===================
    MAIN PANEL STYLES
*===================*/

#mainPanel {
    position: absolute;
    height: auto;
    /* width: 100%; */
    padding: 0;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 260px;
    /* overflow-x: hidden; */
    overflow-y: scroll;
}

.panel-top-sm {
    width: 100%;
    height: 170px;
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
}

.panel-top-md {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 220px;
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
}

.panel-top-contents {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    color: #ccc;
}

.panel-top-lg {
    position: relative;
    width: 100%;
    height: 320px;
    /* background-image: url(../img/mobile-banking.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-blend-mode: overlay;
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
}

.panel-wrapper.margin-top {
    margin-top: -8%;
}

.panel-wrapper {
    padding: 0 10px;
    margin: 0 auto;
    margin-top: -7%;
    width: calc(100% - 10px);
    /* height: 100vh; */
}

/*===================
    NAVBAR STYLES
*===================*/

.navbar {
    padding: 10px;
    /* margin: 0; */
}

.navbar-nav {
    /* margin-right: 20px; */
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    color: #FFFFFF;
}

.navbar-transparent .nav-item .nav-link {
    color: #FFFFFF;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 16px;
    color: #ccc;
}

#openSidebar {
    display: none;
    color: #fff;
}

.navbar-toggler {
    outline: 0;
    border: 0;
}

.navbar .navbar-toggler-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #FFFFFF;
}

.navbar .navbar-toggler-bar.navbar-kebab {
    height: 4px;
    width: 4px;
    margin-bottom: 3px;
    border-radius: 50%;
}

.navbar .navbar-toggler-bar.bar1,
.navbar .navbar-toggler-bar.bar2,
.navbar .navbar-toggler-bar.bar3 {
    height: 1px;
    margin-bottom: 7px;
}

.navbar .navbar-toggler-bar.bar2 {
    width: 16px;
}

.navbar-nav .nav-item {
    /* display: flex;
  align-items: center; */
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 15px !important;
    border-radius: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.dropdown-menu {
    border: 0;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.125rem;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    font-size: 14px;
    /* padding: 0; */
}

.dropdown-menu i {
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.dropdown-menu.dropdown-menu-right:before {
    left: auto;
    right: 10px;
}

.dropdown-menu.dropdown-menu-right {
    right: 10px !important;
    left: auto !important;
}

.navbar-collapse form {
    display: block;
    margin-right: 5px;
}

/*===================
    CARD STYLES
*===================*/

.card {
    border: 0;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
    background-color: #f6f6f6;
}

.card .card-header,
.card .card-footer {
    background: none;
    border: 0;
}

.card .card-header {
    position: relative;
    display: flex;
}

.card .card-header .title {
    font-weight: 700;
}

.card .card-header .card-tools {
    position: absolute;
    right: 20px;
}

.card .card-header .card-tools .btn-tool {
    padding: 5px 10px;
    /* border-radius: 50%; */
    color: #444;
}

.card-user {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-user .image {
    position: relative;
    display: block;
    width: 100%;
    max-height: 100px;
    margin: 0 auto;
    border-radius: 0.1875rem;
}

.card-user .image img {
    width: 100%;
    max-height: 140px;
}

.card-user .card-body {
    width: 100%;
    padding: 15px;
    min-height: 240px;
}

.card-user .card-body .author {
    text-align: center;
    color: #ccc;
    margin-top: -55px;
    /* text-transform: none; */
}

.card-user .card-body .author .title {
    color: #fd7e14;
    padding: 5px;
    font-weight: 700;
}

.card-user .card-body .author a {
    text-decoration-color: #fd7e14;
}

.card-user .card-body .author a .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    margin-bottom: 15px;
}

.card-user .card-body .author .description {
    font-size: 14px;
    padding: 5px 25px;
}

.card-user .card-footer {
    text-align: center;
}

.card-user .card-footer .follow-user a {
    padding: 5px 25px;
    font-size: 18px;
    color: #fd7e14;
    text-decoration: none;
}

/*===================
    ALERT STYLES
*===================*/

.alert-1,
.alert-2,
.alert-3 {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.noti-body {
    width: 100%;
}

.noti-icon {
    width: 15%;
    font-size: 30px;
    text-align: center;
    padding-right: 15px;
}

.noti-btn {
    width: 15%;
    /* margin-top: -12px; */
    /* font-size: 30px; */
    text-align: center;
}

.alert-orange,
.bg-orange {
    background: rgba(251, 126, 23, 0.5);
    color: #fff;
}

.alert-blue,
.bg-blue {
    /* background: rgba(12, 38, 70, 0.6); */
    background: rgba(34, 100, 181, 0.6);
    color: #fff;
}

.alert-gray,
.bg-gray {
    background: rgb(204, 204, 204);
    color: #666;
}

.alert-light-red,
.bg-light-red {
    background: rgba(255, 0, 0, 0.5);
    color: #fff;
}

.alert-red,
.bg-red {
    background: rgba(255, 0, 0, 0.75);
    color: #fff;
}

/*===================
    TABLE STYLES
*===================*/

.table-full-width {
    min-width: 100%;
}

.breadcrumb-nav .breadcrumb {
    background: transparent;
}

.breadcrumb-nav .breadcrumb li {
    color: #aaa;
}

.breadcrumb-nav .breadcrumb li a {
    color: #ccc;
    text-decoration: none;
}

.breadcrumb-nav .breadcrumb li a:hover {
    color: #ddd;
}

/*===================
    INFO-BOX STYLES
*===================*/

.info-box {
    position: relative;
    max-width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #f6f6f6;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: .5rem;
    margin-bottom: 20px;
    min-height: 80px;
}

.info-box-icon {
    margin: 5px;
    padding: 8px 15px;
    font-size: 30px;
    color: #fff;
    margin-top: -80px;
    border-radius: 0.1875rem;
}

.info-box-content {
    display: flex;
    width: 100%;
    margin: 5px;
    flex-direction: column;
    word-break: break-all;
}

.info-box-content .info-box-text {
    font-size: 16px;
    text-align: center;
    width: 100%;
    word-break: break-all;
}

.info-box-content .info-box-number {
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    padding-right: 15px;
}

/*===================
    FOOTER STYLES
*===================*/

.main-footer {
    position: relative;
    padding: 0 15px 20px 15px;
    margin-bottom: 20px;
}

.main-footer nav {
    display: inline-block;
    float: left;
}

.main-footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.main-footer ul li {
    display: inline-block;
}

.main-footer ul li a {
    color: inherit;
    padding: 0.5rem;
    font-size: 0.8571em;
    text-transform: uppercase;
    text-decoration: none;
}

.main-footer ul li a:hover {
    text-decoration: none;
}

.main-footer .copyright {
    float: right;
    font-size: 12px;
    line-height: 1.8;
}

.footer:after {
    display: table;
    clear: both;
    content: " ";
}

/*===================
    TABLET STYLES
*===================*/

@media (max-width: 991px) {
    #openSidebar {
        display: block !important;
        color: #fff;
    }

    #openSidebar:hover .bar2 {
        width: 22px;
    }

    .bar1 {
        animation: top-back .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -o-animation: top-back .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -moz-animation: top-back .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -webkit-animation: top-back .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
    }

    .bar2 {
        opacity: 1;
        transition: all .5s .2s;
    }

    .bar3 {
        animation: bottom-back .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -o-animation: bottom-back .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -moz-animation: bottom-back .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -webkit-animation: bottom-back .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
    }

    .toggled .bar1 {
        animation: top-x .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -o-animation: top-x .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -moz-animation: top-x .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -webkit-animation: top-x .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    .toggled .bar2 {
        opacity: 0;
        transition: all .3s 0s;
    }

    .toggled .bar3 {
        animation: bottom-x .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -o-animation: bottom-x .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -moz-animation: bottom-x .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        -webkit-animation: bottom-x .7s cubic-bezier(.79, -0.42, .32, 1.44) 0.3s;
        animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    #leftSidebar {
        height: 100vh;
        margin: 0 auto;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        background: linear-gradient(to right, #fd7e14 0%, #f17712 60%, #f18e3c 100%);
        position: absolute;
        z-index: 1001;
        width: 260px;
        -webkit-transform: translate3d(-260px, 0, 0);
        transform: translate3d(-260px, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    #leftSidebar .sidebar-wrapper {
        height: calc(100vh - 75px);
        overflow-x: hidden;
        width: 100%;
        z-index: 1030;
    }

    .nav-open #leftSidebar {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    #mainPanel {
        margin-left: 0;
    }

    .nav-open #mainPanel {
        -webkit-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
    }
}

/*===================
    MOBILE STYLES
*===================*/

/*===================
    KEYFRAMES STYLES
*===================*/

@keyframes top-x {
    0% {
        transform: rotate(0) translateY(0);
    }

    45% {
        transform: rotate(50deg) translateY(11px);
    }

    75% {
        transform: rotate(43deg) translateY(11px);
    }

    100% {
        transform: rotate(45deg) translateY(11px);
    }
}

@-webkit-keyframes top-x {
    0% {
        -webkit-transform: rotate(0) translateY(0);
    }

    45% {
        -webkit-transform: rotate(60deg) translateY(11px);
    }

    75% {
        -webkit-transform: rotate(43deg) translateY(11px);
    }

    100% {
        -webkit-transform: rotate(45deg) translateY(11px);
    }
}

@keyframes top-back {
    0% {
        transform: rotate(45deg) translateY(0);
    }

    45% {
        transform: rotate(30deg) translateY(0);
    }

    75% {
        transform: rotate(10deg) translateY(0);
    }

    100% {
        transform: rotate(0) translateY(0);
    }
}

@keyframes bottom-x {
    0% {
        transform: rotate(0) translateY(0);
    }

    45% {
        transform: rotate(-60deg) translateX(-11px);
    }

    75% {
        transform: rotate(-48deg) translateY(-11px);
    }

    100% {
        transform: rotate(-45deg) translateY(-11px);
    }
}

@-webkit-keyframes bottom-x {
    0% {
        -webkit-ransform: rotate(0) translateY(0);
    }

    45% {
        -webkit-ransform: rotate(-60deg) translateX(-11px);
    }

    75% {
        -webkit-ransform: rotate(-48deg) translateY(-11px);
    }

    100% {
        -webkit-ransform: rotate(-45deg) translateY(-11px);
    }
}

@keyframes bottom-back {
    0% {
        transform: rotate(-45deg) translateY(0);
    }

    45% {
        transform: rotate(-30deg) translateY(0);
    }

    75% {
        transform: rotate(-10deg) translateX(0);
    }

    100% {
        transform: rotate(0) translateY(0);
    }
}
